__pycache__/
plots/
maps/
Applications/prism/
Applications/EvoChecker-master/data/
Applications/EvoChecker-master/libs/
Applications/EvoChecker-master/models/
Applications/EvoChecker-master/target/
*.war
*.ear
*.class